.inner.contact{
  margin-left: 5vw;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #000;

  h2{
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  p{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
  }
}