@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import './content/main';
@import './content/introduction';
@import './content/incident';
@import './content/reference';
@import './content/contact';

figure{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  h1{
    position: absolute;
    top: 6vh;
    left: 5vw;
    font: 40px/1 'Special Elite';
    color: #ffffff;
    cursor: pointer;
  }

  .cameraBtns{
    position: absolute;
    top: 7vh;
    right: 5vw;
    display: flex;
    z-index: 5;
    gap: 60px;
    
    li{
      font: 20px/1 'Special Elite';
      color: #efefef;
      cursor: pointer;
      transition: 0.5s;

      &.on{
        transform: scale(1.3);
        color: #fff;
      }
    }    
  }

  section{
		article{
      width: 100%;
      height: auto;
			position: absolute;
			top: 20vh;
			z-index: -1;
			opacity: 0;
      transform: translateY(200px);
			transition: 0.5s;

      .inner{
        width: 50vw;
        height: 100vh;
        padding: 120px;
        overflow-y: hidden;
        background: url('../img/page.png') no-repeat center/contain;
        filter: drop-shadow(5px -10px 20px rgba(0,0,0,0.2));
      }

			&.on{
				opacity: 1;
        z-index: 2;
        transform: translateY(0);
			}
		}
  }
}